<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FileSplitter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
<userSettings>
        <FileSplitter.Properties.Settings>
                <setting name="ScanFolder" serializeAs="String">
                        <value/>
                </setting>
                <setting name="OutputFolder" serializeAs="String">
                        <value/>
                </setting>
                <setting name="ScanFolder_join" serializeAs="String">
                        <value/>
                </setting>
                <setting name="OutputFolderJoin" serializeAs="String">
                        <value/>
                </setting>
        </FileSplitter.Properties.Settings>
    </userSettings>
</configuration>
